{% extends "base.html" %}

{% block styles %}
{{ super() }}
<style>
.jumbotron {
background-image: url('https://picsum.photos/960/540/?blur=2');
background-size: cover;
}
.highlight {
    background-color:#333;
    padding:3px;
    border-radius:1px;
    color:white;
    
}
</style>
{% endblock %}

{% block scripts %}
    {{super()}}
    {{ moment.include_moment() }}
{% endblock %}

{% block payload %}

    <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading" > <span class="highlight">Polemical</span> </h1>
          <p class="lead text-muted" style="margin-top:20px;"> <span class="highlight">A civilized discussion venue.</span>     </p>
          <p>
            <a href="/addtopic" class="btn btn-primary my-2">Add a discussion</a>
            <a href="#" class="btn btn-secondary my-2">View discussions</a>
          </p>
        </div>
      </section>

    
      <form method=post>
        <p>{{ form.search }}
        <input type=submit value=Search>
      </form>

      <div class="album py-5 bg-light">
        <div class="container">
          <div class="row">

        {% for a in args %}
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
              <a href="{{url_for('main.viewarg', aid=a.id)}}">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text={{a.question}}" alt="{{a.question}}">
                </a>
                <div class="card-body">
                  <p class="card-text">{{a.body}}.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-muted">{{ moment(a.timestamp).calendar() }}</small>
                  </div>
                </div>
              </div>
            </div>
        {% endfor %}
        
        
      </div>
{% endblock %}